/* 
body{
    display: flex;
    height:  550px;
    align-items: center;
    justify-self: center
}
.box{
    width: 200px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
} */